Source: ros-kinetic-mm-core-msgs
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ecl-build, ros-kinetic-ecl-containers, ros-kinetic-ecl-utilities, ros-kinetic-mm-messages
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-mm-core-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ecl-build, ros-kinetic-ecl-containers, ros-kinetic-ecl-utilities, ros-kinetic-mm-messages
Description: Message definitions and serialisations for core messages.
